<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <!-- Link to your CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
    <title>Band Name Generator</title>
  </head>
  <body>
    <div class="black-screen">   </div>
    <h1>Band Name Generator</h1>
    <form method="POST">
      <label  for="street">City:</label>
      <input placeholder="Enter your city" type="text" id="street" name="street" required>
      <br>
      <label   for="band_name">Band Name:</label>
      <input placeholder="Enter your Band Name" type="text" id="band_name" name="band_name" required>
      <br>
      <label for="pet">Pet's Name:</label>
      <input placeholder="Enter your pet" type="text" id="pet" name="pet" required>
      <br>
      <button type="submit">Generate Band Name</button>
 
     </body>
</html>